@charset "utf-8";

iweather{
	font-size:0.16rem;
	color:#fff;

	.weatherBox{
		height:100vh;
		
		background: url(../image/bg.jpeg) no-repeat;
		background-size:auto 100%;
		overflow: hidden;

		.city{
			text-align:center;
			font-size:0.24rem;
			margin-top:0.2rem;
			font-family: '微软雅黑';
		}

		.info{
			text-align:center;
			font-size:0.12rem;
			color:#ddd;
			margin-top:0.05rem;
		}

		.temp{
			text-align:center;
			font-size:0.6rem;
			height:0.6rem;
			line-height:0.6rem;
			margin-top:-0.1rem;

			sup{
				font-size:0.25rem;
			}
		}

		.today{
			text-align:center;
			margin-top:0.1rem;
			font-size:0.14rem;
			color:#eee;

			.date{
				transform: translateY(100%);
			}

			.nongli{
				font-size:0.1rem;
				margin-left:0.1rem;
			}
		}

		.future{
			width:100%;
			margin-top:0.3rem;
			font-size:0.12rem;

			.p1{
				width:90%;
				padding:0 5%;
				padding-bottom:0.05rem;
				border-bottom:1px solid #eee;

				.weekday{
					margin-right:0.1rem;
				}

				.max_temp{
					float:right;
					margin-left:0.2rem;
				}

				.min_temp{
					float:right;
					color:#eee;
				}

			}

			ul{
				width:90%;
				padding:0 5%;
				margin-top:0.06rem;
				border-bottom:1px solid #eee;
				padding-bottom:0.08rem;

				li{
					height:0.2rem;
					line-height:0.2rem;

					.weekday{
						margin-right:1rem;
					}

					.max_temp{
						float:right;
						margin-left:0.2rem;
					}

					.min_temp{
						float:right;
						color:#eee;
					}
				}
			}



		}

		.detail{
			//text-align:center;
			font-size:0.12rem;

			ul{
				li{
					margin:0.1rem 0;
					width:100%;
					p{
						overflow: hidden;
						height:0.14rem;
						line-height:0.14rem;
						span{
							float:left;
						}

						span:nth-child(1){
							text-align:right;
							width:47%;
							margin-right:3%;
						}

						span:nth-child(2){
							width:47%;
							margin-left:3%;
						}
					}
				}

				li.advice{
					p{
						width:90%;
						margin:0 auto;
						height:auto;
						line-height:0.16rem;
						margin-bottom:0.1rem;
					}
				}
			}
		}

		.otherCity{
			position:absolute;
			top:0;
			right:0;

			input{
				background:rgba(255,255,255, 0.1);
				border:none;
				color:#fff;
				height:0.20rem;
				line-height:0.20rem;
				outline: none;
				margin-top:0.1rem;
				margin-right:0.1rem;
				width:0.8rem;
				text-indent:0.1rem;

			}

			.icon-sousuo{
				display: inline-block;
				font-size:0.12rem;
				transform: translateX(-110%);
			}

			::-moz-placeholder { color: #ccc; }
			::-webkit-input-placeholder { color:#ccc; }
			:-ms-input-placeholder { color:#ccc; }
		}

		.returnback{
			position:absolute;
			top:0;
			left:0;
			margin:0.1rem;
			font-size:0.2rem;
			font-weight:bold;
			color:#ccc;
		}
	}
}