
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477315856'); /* IE9*/
  src: url('iconfont.eot?t=1477315856#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477315856') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477315856') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477315856#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qing:before { content: "\e651"; }
.icon-duoyun:before { content: "\e6f3"; }
.icon-yin-copy:before { content: "\e660"; }
.icon-zhenyu2:before { content: "\e600"; }
.icon-leizhenyu:before { content: "\e726"; }
.icon-thunderStormHail:before { content: "\e620"; }
.icon-yujiaxue:before { content: "\e72e"; }
.icon-xiaoyu:before { content: "\e67c"; }
.icon-zhongyu:before { content: "\e8c8"; }
.icon-dayu:before { content: "\e614"; }
.icon-baoyu:before { content: "\e6f2"; }
.icon-dabaoyu:before { content: "\e6de"; }
.icon-tedabaoyu:before { content: "\e8be"; }
.icon-zhenxue:before { content: "\e65a"; }
.icon-xiaoxue:before { content: "\e600"; }
.icon-snow_level_03:before { content: "\e62e"; }
.icon-daxue:before { content: "\e628"; }
.icon-snow_level_07:before { content: "\e614"; }
.icon-wu:before { content: "\e638"; }
.icon-dongyu:before { content: "\e716"; }
.icon-shachenbao:before { content: "\e642"; }
.icon-xiaodaozhongyu:before { content: "\e615"; }
.icon-zhongdaodayu:before { content: "\e65b"; }
.icon-dadaobaoyu:before { content: "\e64c"; }
.icon-rain_level_08:before { content: "\e616"; }
.icon-rain_level_10:before { content: "\e618"; }
.icon-xiaodaozhongxue:before { content: "\e614"; }
.icon-snow_level_04:before { content: "\e62c"; }
.icon-fuchen:before { content: "\e64f"; }
.icon-blowingSand:before { content: "\e629"; }
.icon-severeSandStorm:before { content: "\e622"; }
.icon-mai:before { content: "\e650"; }
.icon-snow_level_06:before { content: "\e619"; }
